### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
PlaywrightTests/obj/Debug/net8.0/refint/PlaywrightTests.dll
PlaywrightTests/obj/Debug/net8.0/PlaywrightTests.sourcelink.json
PlaywrightTests/obj/Debug/net8.0/PlaywrightTests.pdb
PlaywrightTests/obj/Debug/net8.0/PlaywrightTests.dll
PlaywrightTests/obj/Debug/net8.0/PlaywrightTests.AssemblyInfoInputs.cache
PlaywrightTests/obj/Debug/net8.0/PlaywrightTests.AssemblyInfo.cs
PlaywrightTests/bin/Debug/net8.0/PlaywrightTests.pdb
PlaywrightTests/bin/Debug/net8.0/PlaywrightTests.dll
PlaywrightTests/bin/Debug/net8.0/nunit_random_seed.tmp
PlaywrightTests/obj/Debug/net8.0/ref/PlaywrightTests.dll
