<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <TestRunParameters>
        <Parameter name="BaseUrl"
            value="https://planningregister.planningsystemni.gov.uk/simple-search" />
    </TestRunParameters>
    <PlayWright>
        <BrowserName>Chromium</BrowserName>
        <LaunchOptions>
            <Headless>false</Headless>
            <SlowMo>5000</SlowMo>
        </LaunchOptions>
    </PlayWright>
</RunSettings> 